@import url('https://fonts.googleapis.com/css?family=Akronim');

.Header {
  font-family: 'Akronim', cursive;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: rgb(196, 116, 26);
  text-align: center;
  border: 3px solid black;
}
