.Sidebar {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 33vw;
  height: 100vh;
  padding: 1rem;
  background-color: rgb(153, 105, 16);
  text-align: center;

  a {
    display: block;
    color: purple;
    font-size: 2rem;
    text-decoration: none;
  }
}
